
body{
  .full-width{
    width: 100%;
  }
  .full-height{
    height: 100%;
  }
  .center-text{
    text-align: center;
  }
  .bold-text{
    font-weight: bold;
  }
  .ghost{
    pointer-events: none;
  }
  .not-ghost{
    pointer-events: all;
  }
  .no-padding{
    padding: 0px;
  }
  .no-margin{
    margin: 0px;
  }
  .scale-1-3{
    transition: transform 0.1s ease-in-out;
  }
  .scale-1-3:hover{
    transform: scale(1.3);
  }
  .circle{
    border-radius: 50%;
  }

  //Hide
  @media screen and (max-width: 768px){
    .hide-on-mobile-only{
      display: none;
    }
    .visible-on-mobile-only{
      visibility: visible;
    }
    .show-on-mobile-only{
      display: block;
    }
    .invisible-on-mobile-only{
      visibility: hidden;
    }
  }
  @media screen and (min-width: 769px){
    .hide-on-mobile-only{
      display: block;
    }
    .visible-on-mobile-only{
      visibility: hidden;
    }
    .show-on-mobile-only{
      display: none;
    }
    .invisible-on-mobile-only{
      visibility: visible;
    }
  }
}
